@import "compass";
@include global-reset;
@include reset-html5;

@import "custom/colors";
@import "custom/fonts";
@import "custom/layout";
@import "base";
@import "partials";
@import "plugins/**/*";
@import "custom/styles";

.img-text {
  font-size: 16px;
  margin-top: 4px;
  color: gray;
}

.cn-img {
  align: center;
  margin-bottom: 4px;
}
